In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../../admissions_data_300.csv')

In [4]:
df.describe()

,gre_score,toefl_score,ug_univ_rating,sop_score,lor_score,gpa,research,admit
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.00000,300.000000,300.000000
mean,315.620000,106.923333,3.063333,3.325000,3.458333,3.42364,0.526667,0.260000
std,11.471454,5.957833,1.115109,0.985789,0.892610,0.23983,0.500123,0.439367
min,290.000000,92.000000,1.000000,1.000000,1.000000,2.88400,0.000000,0.000000
25%,307.000000,103.000000,2.000000,2.500000,3.000000,3.24800,0.000000,0.000000
50%,316.000000,106.000000,3.000000,3.500000,3.500000,3.42400,1.000000,0.000000
75%,324.000000,111.000000,4.000000,4.000000,4.000000,3.60800,1.000000,1.000000
max,340.000000,120.000000,5.000000,5.000000,5.000000,3.96800,1.000000,1.000000

In [5]:
labels = df['admit']
features = df.drop(columns='admit')

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(features, labels, test_size=0.25, random_state=42)

In [7]:
from sklearn.linear_model import LogisticRegression


lgm = LogisticRegression(max_iter=300)
lgm.fit(x_train, y_train)
lgm.score(x_val, y_val)

LogisticRegression(max_iter=300)

0.92

In [8]:
from joblib import dump, load

In [9]:
dump(lgm, 'model.v1')

['model.v1']

In [10]:
clf = load('model.v1')

In [11]:
pred_json = {
    'gre_score': 334,
    'toefl_score': 119,
    'ug_univ_rating': 4,
    'sop_score': 3.5,
    'lor_score': 4,
    'gpa': 3.8,
    'research': 1
}

In [12]:
x_pred = np.zeros((1, 7))

In [13]:
x_pred[0, 0] = pred_json['gre_score']
x_pred[0, 1] = pred_json['toefl_score']
x_pred[0, 2] = pred_json['ug_univ_rating']
x_pred[0, 3] = pred_json['sop_score']
x_pred[0, 4] = pred_json['lor_score']
x_pred[0, 5] = pred_json['gpa']
x_pred[0, 6] = pred_json['research']

In [14]:
clf.predict_proba(x_pred)

array([[0.00589773, 0.99410227]])